* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.provide_inline {
    display: inline;
}
.provide_seprate{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.provide_flex_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.points {   display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    width: 100%;
}

.head {
    box-sizing: border-box;
    box-shadow: 0px 0px 9px black;
    height: 100%;
    width: 100%;
}

header {
    background: linear-gradient(to right, #0E2E3B, #244856);
    text-align: center;
    font-size: 1.5rem;
    font-family: "Playwrite DE Grund", cursive;
    color: #FFEB7D;
    height: 10vh;
    box-shadow: 0px 0px 9px black;
}

main {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #FFB44B, #FFD662);
}
.points label {
    padding: 0.2rem;
    font-size: 1.1rem;
    text-align: center;
}

.points input[type="text"],
.points input[type="number"],
#choose_option select {
    border-radius: 15px;
    height: 1.8rem;
    width: 12rem;
    padding: 1px 0px;
    margin-top: 0.5rem;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    background: linear-gradient(to right, #FFF2CC, #FFEC9E);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    border: none;
    color: black;
    font-size: 1rem;
}

.points input[type="text"]:hover,
.points input[type="number"]:hover,
#choose_option select:hover {
    cursor: pointer;
}

.points input[type="radio"] {
    display: none;
}

.points input[type="radio"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2rem;
    color: #000;
    user-select: none;
}

.points input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to right, #FFF2CC, #FFEC9E);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    border: none;
}

.points input[type="radio"]:checked + label:before {
    background: linear-gradient(to right, #FFBF78, #FF7D29);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

#choose_option select {
    border-radius: 15px;
    height: 2rem;
    width: 12rem;
    padding: 1px 0px;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    background: linear-gradient(to right, #FFF2CC, #FFEC9E);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

footer {
    height: 10vh;
    background: linear-gradient(to right, #0E2E3B, #244856);
    color: white;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "PT Sans", sans-serif;
    background: linear-gradient(to right, rgba(255, 111, 65, 0.8), rgba(255, 237, 170, 0.8));
    height: 60vh;
    width: 35vw;
    border-radius: 50px;
    color: rgb(6, 0, 0);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    padding: 3rem;
}

.points button {
    border-radius: 20px;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    background: linear-gradient(to right, #FFBF78, #FF7D29);
    width: 8rem;
    height: 40px;
    color: #1b1a55;
    border: none;
    padding: 5px 17px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
}

#button_calculate {
    display: flex;
    align-items: center;
    justify-content: center;
}

.points button:hover {
    transition: ease-in-out 1s;
    background: linear-gradient(to right, #FF7D29, #FFBF78);
}

@media (max-width: 768px) {
    form {
        width: 80vw;
        padding: 2rem;
        border-radius: 20px;
        height: 77vh;
    }

    .points label,
    .points input,
    #choose_option select,
    .points button {
        width: 100%;
        margin-top: 0.5rem;
        text-align: center;
    }

    .points {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1.2rem;
        height: 10vh;
        padding: 1rem;
    }

    main {
        height: 80vh;
    }

    form {
        width: 90vw;
        padding: 1.5rem;
        height: 77vh;
    }

    .points label,
    .points input,
    #choose_option select,
    .points button {
        font-size: 1rem;
        padding: 0.5rem;
    }
}
